*exe
*.pdb
工程文件版本转换工具/obj/Debug/DesignTimeResolveAssemblyReferences.cache
工程文件版本转换工具/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
工程文件版本转换工具/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
工程文件版本转换工具/obj/Debug/TempPE/Resource1.Designer.cs.dll
工程文件版本转换工具/obj/Debug/工程文件版本转换工具.AboutWindow.resources
工程文件版本转换工具/obj/Debug/工程文件版本转换工具.csproj.AssemblyReference.cache
工程文件版本转换工具/obj/Debug/工程文件版本转换工具.csproj.CoreCompileInputs.cache
工程文件版本转换工具/obj/Debug/工程文件版本转换工具.csproj.FileListAbsolute.txt
工程文件版本转换工具/obj/Debug/工程文件版本转换工具.csproj.GenerateResource.cache
工程文件版本转换工具/obj/Debug/工程文件版本转换工具.exe
工程文件版本转换工具/obj/Debug/工程文件版本转换工具.Form1.resources
工程文件版本转换工具/obj/Debug/工程文件版本转换工具.MainWindow.resources
工程文件版本转换工具/obj/Debug/工程文件版本转换工具.MessageWindow.resources
工程文件版本转换工具/obj/Debug/工程文件版本转换工具.MyForm.resources
工程文件版本转换工具/obj/Debug/工程文件版本转换工具.pdb
工程文件版本转换工具/obj/Debug/工程文件版本转换工具.Properties.Resources.resources
工程文件版本转换工具/obj/Release/DesignTimeResolveAssemblyReferences.cache
工程文件版本转换工具/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
工程文件版本转换工具/obj/Release/TempPE/Properties.Resources.Designer.cs.dll
工程文件版本转换工具/obj/Release/工程文件版本转换工具.AboutWindow.resources
工程文件版本转换工具/obj/Release/工程文件版本转换工具.csproj.CoreCompileInputs.cache
工程文件版本转换工具/obj/Release/工程文件版本转换工具.csproj.FileListAbsolute.txt
工程文件版本转换工具/obj/Release/工程文件版本转换工具.csproj.GenerateResource.cache
工程文件版本转换工具/obj/Release/工程文件版本转换工具.exe
工程文件版本转换工具/obj/Release/工程文件版本转换工具.MainWindow.resources
工程文件版本转换工具/obj/Release/工程文件版本转换工具.MessageWindow.resources
工程文件版本转换工具/obj/Release/工程文件版本转换工具.MyForm.resources
工程文件版本转换工具/obj/Release/工程文件版本转换工具.pdb
工程文件版本转换工具/obj/Release/工程文件版本转换工具.Properties.Resources.resources
工程文件版本转换工具/obj/Debug/DesignTimeResolveAssemblyReferences.cache
工程文件版本转换工具/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
工程文件版本转换工具/obj/Debug/工程文件版本转换工具.csproj.AssemblyReference.cache
工程文件版本转换工具/obj/Debug/工程文件版本转换工具.csproj.CoreCompileInputs.cache
工程文件版本转换工具/obj/Debug/工程文件版本转换工具.csproj.FileListAbsolute.txt
工程文件版本转换工具/obj/Debug/工程文件版本转换工具.csproj.GenerateResource.cache
工程文件版本转换工具/obj/Debug/工程文件版本转换工具.exe
工程文件版本转换工具/obj/Debug/工程文件版本转换工具.Form1.resources
工程文件版本转换工具/obj/Debug/工程文件版本转换工具.pdb
工程文件版本转换工具/obj/Debug/工程文件版本转换工具.Properties.Resources.resources
工程文件版本转换工具/obj/Release/工程文件版本转换工具.csproj.CoreCompileInputs.cache
工程文件版本转换工具/obj/Release/工程文件版本转换工具.csproj.FileListAbsolute.txt
工程文件版本转换工具/obj/Release/工程文件版本转换工具.csproj.GenerateResource.cache
工程文件版本转换工具/obj/Release/工程文件版本转换工具.exe
工程文件版本转换工具/obj/Release/工程文件版本转换工具.pdb
工程文件版本转换工具/obj/Release/工程文件版本转换工具.Properties.Resources.resources
